<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', menu_path %>
